

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

//$primary: #5265E1;
//$secondary: #FA5959;

$color-principal: #5265E1;
$color-secundari: #FA5959;

//$primary:$color-principal;
//$secondary:$color-secundari;

$custom-colors: (
  "color-secundari": $color-secundari,
  "color-principal": $color-principal,
);

// Merge the maps

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";


.btn:active
{
    color:grey;
}

.btn-color-secundari {
    color: white;
}



 // #nav-home-tab {
 //   color: black;
 // }

#nav-profile-tab{
    color: black;
  }

#nav-contact-tab{
    color:black;
  }

.nav-underline .nav-link {
    border-bottom: 2px solid transparent;
}
.nav-underline .nav-link.active {
    border-bottom-color: red;
}

.separate {
    align-self: center;
    width: 100%;
    height: 30px; 
    border-top: dotted rgb(198, 198, 198); 
    border-spacing: 10px;
    border-width: 5px ;
    
  }


  .card-img-top-custom {
    width: 100px; 
    height: auto; 
    margin: 0 auto; 
}

.card {
    padding: 30px;
    align-items: center;
    box-shadow: 0 3px 9px rgba(161, 179, 185, 0.5);
  }







